PORT=4002
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/optica_products
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
JWT_SECRET=cambia-esta-clave-super-secreta-para-firmar-tokens-jwt-12345
