PORT=4001
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/optica_auth?createDatabaseIfNotExist=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
JWT_SECRET=cambia-esta-clave-super-secreta-para-firmar-tokens-jwt-12345
JWT_EXPIRATION_MS=7200000
